@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) { .container { max-width: 650px; } }
@media (min-width: 1200px) { .container { max-width: 1320px; } }


a {
  color: #2BAAEC;
  text-decoration: none;
  font-size: 6px;
}
@media (min-width: 760px) { a { font-size: 10px; } }
@media (min-width: 1200px) { a { font-size: 18px; } }

a:hover {
  color: #25E6C8;
}



/*Top menu*/
#topmenu {
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {#topmenu {display: block;}}

#topmenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#topmenu .container .hours {
  flex: 2;
}
#topmenu .container .hours i {
  margin-right: 0.3rem;
  color: #2BAAEC;
  font-size: 1.2em;
}
#topmenu .container .socialmedia {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}
#topmenu .container .socialmedia li {
  margin-left: 1.3rem;
}



/* mainmenu */
#mainmenu {
  font-family: 'Roboto Slab', serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#mainmenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainmenu .container .logo {
  height: 50px;
}
@media (min-width: 768px) {#mainmenu .container .logo {height: 60px;}}
#mainmenu .container .menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
#mainmenu .container .menu ul {
  display: none;
  list-style: none;
  margin: 0%;
}
@media (min-width: 992px) {#mainmenu .container .menu ul {display: flex;} }
#mainmenu .container .menu ul li {
  margin: 1.3rem;
  margin-right: 0%;
}
#mainmenu .container .menu ul li a {
  color: #363636;
}
#mainmenu .container .menu ul li a:hover {
  color: #25E6C8;
}
#mainmenu .container .menu button {
  font-size: 2rem;
  padding: 0%;
}
@media (min-width: 992px) {#mainmenu .container .menu button {display: none;} }



/*showcase*/
#showcase {
  background-color:#DEDEDE;
  padding-top: 1rem;
  height: auto;
}

#showcase .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0%;
  padding-right: 2%;
  height: 179px;
}
@media (min-width: 1800px) {#showcase .container { max-width: 1500px; } }
@media (min-width: 768px) {#showcase .container {height: 279px;}}
@media (min-width: 1200px) {#showcase .container {height: 679px;}}

#showcase .container .placehold {
  height: 179px;
  align-self: flex-end;
}
@media (min-width: 768px) {#showcase .container .placehold {height: 279px;}}
@media (min-width: 1200px) {#showcase .container .placehold {height: 679px;}}
#showcase .container .showcaseinfo {
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 1%;
}
@media (min-width: 768px) {#showcase .container .showcaseinfo {height: auto;}}
@media (min-width: 1200px) {#showcase .container .showcaseinfo {width: 690px;;}}

#showcase .container .showcaseinfo h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
  color: #363636;
  font-size: 15px;
  font-weight: normal;
}
@media (min-width: 760px) { #showcase .container .showcaseinfo h1 { font-size: 30px; } }
@media (min-width: 1200px) { #showcase .container .showcaseinfo h1 { font-size: 60px; } }

#showcase .container .showcaseinfo h2 {
  font-size: 6px;
  font-weight: normal;
  color: #363636;
}
@media (min-width: 760px) { #showcase .container .showcaseinfo h2 { font-size: 10px; } }
@media (min-width: 1200px) { #showcase .container .showcaseinfo h2 { font-size: 18px; } }

#showcase .container .showcaseinfo button {
  background-color: #25E6C8;
  width: 80px;
  height: 20px;
  border-radius: 8px;
  border: none;
}
@media (min-width: 760px) { #showcase .container .showcaseinfo button { width: 139px;} }
@media (min-width: 1200px) { #showcase .container .showcaseinfo button { width: 239px;} }
@media (min-width: 760px) { #showcase .container .showcaseinfo button {height: 40px; } }
@media (min-width: 1200px) { #showcase .container .showcaseinfo button {height: 60px; } }

#showcase .container .showcaseinfo button a {
  color: white;
  font-weight: bold;
}





/*Appointment*/
#appointment {
  display: flex;
  height: auto;
  background-color: #2BAAEC;
  opacity: 80%;
}
#appointment .container {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

#appointment .container h3 {
  color: white;
  font-size: 7px;
  font-weight: normal;
}
@media (min-width: 760px) { #appointment .container h3 { font-size: 15px; } }
@media (min-width: 1200px) { #appointment .container h3 { font-size: 30px; } }

#appointment .container button {
  background-color: white;
  width: 100px;
  height: 20px;
  border-radius: 8px;
  border: none;
  margin-left: 6rem;
}
@media (min-width: 760px) { #appointment .container button { width: 150px;} }
@media (min-width: 1200px) { #appointment .container button { width: 285px;} }
@media (min-width: 760px) { #appointment .container button {height: 40px; } }
@media (min-width: 1200px) { #appointment .container button {height: 60px; } }

#appointment .container button a {
  color: #2BAAEC;
  font-weight: bold;
}



/*Footer*/
footer {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #2BAAEC;
  display: flex;
  color: white;
  justify-content: center;
  font-size: 5px;
}
@media (min-width: 760px) { footer { font-size: 10px; } }
@media (min-width: 1200px) { footer { font-size: 16px; } }
