@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 1200px) { .container { max-width: 1120px; } }

a {
  color: #2BAAEC;
  text-decoration: none;
}
a:hover {
  color: #25E6C8;
}

.btn {
  display: inline-flex;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  padding: 1.25rem, 1.75rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
}



/*Top menu*/
#topmenu {
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {#topmenu {display: block;}}

#topmenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#topmenu .container .hours {
  flex: 2;
}
#topmenu .container .hours i {
  margin-right: 0.3rem;
  color: #2BAAEC;
  font-size: 1.2em;
}
#topmenu .container .socialmedia {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  border: 1px solid black;
}
#topmenu .container .socialmedia li {
  margin-left: 1.3rem;
}



/* mainmenu */
#mainmenu {
  font-family: 'Roboto Slab', serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#mainmenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainmenu .container .logo {
  height: 50px;
}
@media (min-width: 768px) {#mainmenu .container .logo {height: 60px;}}
#mainmenu .container .menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
#mainmenu .container .menu ul {
  display: none;
  list-style: none;
  margin: 0%;
}
@media (min-width: 992px) {#mainmenu .container .menu ul {display: flex;} }
#mainmenu .container .menu ul li {
  margin: 1.3rem;
  margin-right: 0%;
}
#mainmenu .container .menu ul li a {
  color: #363636;
}
#mainmenu .container .menu ul li a:hover {
  color: #25E6C8;
}
#mainmenu .container .menu button {
  font-size: 2rem;
  padding: 0%;
}
@media (min-width: 992px) {#mainmenu .container .menu button {display: none;} }



/*showcase*/
#showcase {
  background-color:#DEDEDE;
  font-family: 'Roboto Slab', serif;
  padding-top: 1rem;
}
#showcase .container {
  display: flex;
  align-items: center;
  height: 700px;
  border: 1px solid black;
  padding-left: 0%;
  padding-right: 0%;
  
}
#showcase .container .placehold {
  height: 679;
  align-self: flex-end;
  border: 1px solid black;
}
#showcase .container .showcaseinfo {
  flex: 1;
  justify-content: flex-end
}
#showcase .container .showcaseinfo h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  margin-left: 6rem;
  font-weight: normal;
  border: 1px solid black;
}
#showcase .container .showcaseinfo h2 {
  font-family: 'Roboto', serif;
  font-size: 0.7em;
  margin-left: 6rem;
  font-weight: normal;
}
#showcase .container .showcaseinfo button {
  font-family: 'Roboto', serif;
  background-color: #25E6C8;
  font-weight: bold;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  font-size: 0.7em;
  margin-left: 6rem;
}
#showcase .container .showcaseinfo button a {
  color: white;
}

